html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.air-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2,
.air-h2 {
  font-size: 2.827rem;
}

h3,
.air-h3 {
  font-size: 1.999rem;
}

h4,
.air-h4 {
  font-size: 1.414rem;
}

h5,
.air-h5 {
  font-size: 1.121rem;
}

h6,
.air-h6 {
  font-size: .88rem;
}

small,
.air-small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

body {
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  width: 100%;
}

main {
  max-width: 50%;
  flex: 1;
}

.text--centered {
  text-align: center;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.a--orange {
  padding: 3px;
  box-shadow: inset 0 -3px 0 #FFA502;
  transition: all .2s ease-in;
}

.a--orange:hover {
  color: white;
  box-shadow: inset 0 -30px 0 #FFA502;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

ul {
  padding: 0;
  list-style: '🌟';
}

ul,
ol,
li {
  text-align: left;
}

p {
  color: #777;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
  flex: 1;
}

/* CURVE */

.curve-mask {
  width: 200%;
  margin-left: -50%;
  overflow: hidden;
}

.curve-up {
  /* added height */
  min-height: 350px;
  width: 120%;
  margin-left: -10%;
  margin-right: 10%;
  border-radius: 200vh 200vh 0% 0% / 20vh  20vh 0% 0%;
  -moz-border-radius: 200vh 200vh 0% 0% / 20vh  20vh 0% 0%;
  -webkit-border-radius: 200vh 200vh 0% 0% / 20vh  20vh 0% 0%;
  overflow: hidden;
}

.curve-content-wrap {
  width: 80%;
  margin: 0 auto;
}

.curve-content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.curve-text {
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  color: white;
}

#curve-2 {
  background-image: url('../../collections/images/lullington-church.jpeg');
  /* background-attachment: fixed makes the scroll */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}